p{
    font-size : 14px;
    font-family : "Helvetica";
    text-align : center;
}
h1{
    font-size : 36px;
    font-family : "Helvetica";
    text-align : center;
}
h2{
    font-size : 24px;
    font-family : "Helvetica";
    text-align : center;
}
h3{
    font-size : 18px;
    font-family : "Helvetica";
    text-align : center;
}
ol{
    font-size : 14px;
    font-family : "Helvetica";
    text-align : center;    
}
img.center{
    border-radius: 50%;
    display: block;
    margin: 0 auto;    
}